<div class="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Contact user</h2>
    <p>
    Use this space to tell him something!
    </p>
        <textarea id="contact_txt"></textarea>
    <br>
    <button data-remodal-action="cancel" class="btn btn-red">Cancel</button>
    <button data-remodal-action="confirm" class="btn btn-green refresh-after" id="doContact" data-action="do_contact.php?id={{ id }}">OK</button>
</div>
